@import url(./assets/styles/utils.css);
@import url(./assets/styles/easing.css);
@import url(./assets/styles/animation.css);
@import url(./assets/styles/popover.css);
@import url(./assets/styles/main.css);
@import url(./assets/styles/dialog.css);
@import url(./assets/styles/contact.css);
@import url(./assets/styles/about.css);
@import url(./assets/styles/people.css);
@import url(./assets/styles/message.css);

:root {
  color-scheme: light dark;

  --mark-path: path("M 0 0 L 12 0 L 12 10 L 6 10 Q 6 16 12 18 L 12 24 Q 0 21 0 10 L 0 0 Z");
  --line-path: path("M 2 0 L 10 0 L 10 10 L 10 10 Q 10 17 10 24 L 2 24 Q 2 17 2 10 L 2 0 Z");

  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;

  --padding-y: clamp(2rem, max(5vw, 5vh), 3rem);
  --padding-x: clamp(1rem, 2vw, 2rem);

  --accent-color: light-dark(orangered, deepskyblue);
  --sunmoon-pos: calc(var(--padding-y) + 1rem);
  --popover-bg: light-dark(
    oklch(from Highlight 0.78 c h / 1),
    oklch(from Highlight 0.28 c h / 1)
  );
  --popover-border: light-dark(
    oklch(from Highlight l c h / 0.72),
    oklch(from Highlight l c h / 0.27)
  );
  /* --popover-bg: var(--accent-color);
  --popover-border: light-dark(
    oklch(from var(--accent-color) l c h / 0.75),
    oklch(from var(--accent-color) l c h / 0.2)
  ); */
}
