@import url(./assets/styles/utils.css);
@import url(./assets/styles/easing.css);
@import url(./assets/styles/animation.css);
@import url(./assets/styles/popover.css);
@import url(./assets/styles/main.css);
@import url(./assets/styles/dialog.css);
@import url(./assets/styles/contact.css);
@import url(./assets/styles/about.css);
@import url(./assets/styles/people.css);
@import url(./assets/styles/message.css);

:root {
  color-scheme: light dark;

  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}
