
:where(.about-me) {
  --padding: clamp(1rem, 2vw, 1.2rem);
  background-color: Canvas;
  background-image: linear-gradient(Highlight, Highlight);
  color: HighlightText;

  /* background-color: AccentColor;
  color: AccentColorText; */

  padding: 0 var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  overflow: hidden;

  position-anchor: --about;
  position: absolute;
  z-index: 2;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);


  border-radius: 34px;
  @supports(corner-shape: squircle) {
    border-radius: 68px;
    corner-shape: squircle;
  }

  & h3 {
    font-size: clamp(2rem, 6vw, 2.5rem);
  }

  &[inert] {
    opacity: 0;
    pointer-events: none;
  }
}

:where(.about-close) {
  background-color: ButtonFace;
  margin-inline: auto 0;

  position: absolute;
  top: var(--padding);
  right: var(--padding);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2px;
    background-color: ButtonText;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  &:is(:focus-visible) {
    outline-offset: 2px;
    animation: AnimateOutline2 .2s ease;
  }
}