:where(html) {
  --animation-bounce: bounce 2s var(--ease-squish-2) infinite;
}

@keyframes bounce {
  25% { transform: translateY(-20%) }
  40% { transform: translateY(-3%) }
  0%, 60%, 100% { transform: translateY(0) }
}

@keyframes AnimateOutline {
  from { outline-offset: -4px; }
  to { outline-offset: 0; }
}

@keyframes AnimateOutline2 {
  from { outline-offset: -2px; }
  to { outline-offset: 2px; }
}

@keyframes AnimateOutline4 {
  from { outline-offset: -2px; }
  to { outline-offset: 4px; }
}