:where(.contact) {
  width: 80vw;
  max-width: 20rem;
  overflow: clip;

  /* @media (orientation: portrait) {
    max-width: 25rem;
  } */

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url(/people/self.png);
    background-size: auto 75%;
    background-position: center bottom;
    background-repeat: no-repeat;
    translate: 0 0.5rem;
  }

  &:popover-open {
    &::before {
      animation: avatar-in 0.7s var(--ease-spring-2);
    }

    /* .contact-list {
      opacity: 1;
      translate: 0 0;
      scale: 1;
      transition: all 0.3s var(--ease-out-3) 0.3s;
    } */
  }
}

:where(.contact-card) {
  padding: clamp(1.5rem, 2vw, 2rem);
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  /* @media (orientation: portrait) {
    height: 22rem;
  } */

  .about {
    text-align: center;

    & h2 {
      padding-block-start: 0.5rem;
      font-size: clamp(2rem, 6vw, 2.5rem);
      color: CanvasText;
    }

    /* & p {
      color: GrayText;
    } */
  }

  .contact-list {
    position: absolute;
    z-index: 1;
    inset: 40% 0 0;
    padding: 1.25rem clamp(1.5rem, 2vw, 2rem);
    background-image: linear-gradient(
      to bottom,
      transparent,
      light-dark(Highlight, Canvas)
    );

    display: flex;
    justify-content: center;
    align-items: flex-end;

    & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    & a {
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: LinkText;
      outline-offset: 0;
      padding: 0.25rem;

      border-radius: 12px;
      @supports(corner-shape: squircle) {
        border-radius: 40px;
        corner-shape: squircle;
      }

      &:is(:hover) {
        background-color: ButtonFace;
        color: ButtonText;
        outline: 2px solid ButtonBorder;
      }

      &:is(:focus-visible) {
        outline: 2px solid ActiveText;
        outline-offset: 2px;
        animation: AnimateOutline2 .2s ease;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .contact:popover-open {
    &:focus-visible {
      outline: 2px solid ActiveText;
      outline-offset: 4px;
      animation: AnimateOutline4 .2s ease;
    }
  }
}

@keyframes avatar-in {
  from {
    translate: 0 100%;
  }
}
