:where(main) {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  overflow: hidden;

  .intro {
    padding: 1rem var(--padding-x);
    display: grid;
    place-content: center;
    gap: 0.5rem;
    padding-bottom: 3vh;

    & h1 {
      font-size: clamp(2.2rem, min(10.5vw, 10.5vh), 6.5rem);
      line-height: 1;
    }

    :where(h1, p, ul) {
      position: relative;
      z-index: 1;
    }

    :where(ul) {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      margin-block-start: 0.5rem;
    }
  }
}

:where(header) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-y);
  padding: var(--padding-y) var(--padding-x) 0;
}

:where(footer) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: var(--padding-x);
  padding-bottom: var(--padding-y);
}

:where(.sunmoon) {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  -webkit-appearance: none;
  appearance: none;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -0.25rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: box-shadow 0.3s var(--ease-quart-in), opacity 0.3s var(--ease-quart-in);
    /* transition-delay: 0.6s; */
    box-shadow:
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.6),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.4),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.2)
    ;
  }

  :where(sun-moon) {
    position: relative;
    z-index: 1;
  }
}

:where(body:has(sun-moon[theme=dark])) {
  .sunmoon::before {
    translate: -0.2rem 0.2rem;
  }
}

:where(.contact-button) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2px;
  anchor-name: --contect-popover;

  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  /* font-weight: 500; */
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: -4px;
  color: color-mix(in oklab, CanvasText, Canvas 35%);

  border-radius: 5px;
  @supports(corner-shape: squircle) {
    border-radius: 15px;
    corner-shape: squircle;
  }

  & span {
    transition: all 0.2s var(--ease-sine-out);

    /* @supports ((-webkit-background-clip: text) or (background-clip: text)) {
      background-image: linear-gradient(175deg, var(--gray-start), var(--gray-end));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    } */
  }
}

:where(.testimonial-open) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  color: color-mix(in oklab, CanvasText, Canvas 35%);
  /* background-color: ButtonFace; */

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 24px;
    background-color: currentColor;
    background-image: linear-gradient(135deg, var(--gray-start), var(--gray-end));
    clip-path: var(--mark-path);
  }
  &::before {
    transform: translate(-8px, 1px);
  }
  &::after {
    transform: translate(8px, 1px);
  }
}

@media (hover: hover) and (pointer: fine) {
  :where(.contact-button) {
    &:is(:hover) {
      outline: 2px solid GrayText;
      outline-offset: 2px;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
      animation: AnimateOutline2 .2s ease;
    }
  }

  :where(.sunmoon) {
    &:is(:hover)::before {
      transition: box-shadow 0.3s var(--ease-quart-out), opacity 0.3s var(--ease-quart-out);
      transition-delay: 0s;
      box-shadow:
        0 0 0 1.5rem oklch(from var(--accent-color) l c h / 0.6),
        0 0 0 3rem oklch(from var(--accent-color) l c h / 0.4),
        0 0 0 4.5rem oklch(from var(--accent-color) l c h / 0.2)
      ;
      opacity: 0.2;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--accent-color);
      animation: AnimateOutline .2s ease;
    }
  }

  .icon-button {
    &:is(:focus-visible) {
      border-color: var(--accent-color);
      outline: 1px solid var(--accent-color);
      outline-offset: 0px;
    }
  }

  :where(.icon-button:has(sun-moon)) {
    &:is(:hover)::before {
      transition: box-shadow 0.3s var(--ease-quart-out), opacity 0.3s var(--ease-quart-out);
      transition-delay: 0s;
      box-shadow:
        0 0 0 1.5rem oklch(from var(--accent-color) l c h / 0.6),
        0 0 0 3rem oklch(from var(--accent-color) l c h / 0.4),
        0 0 0 4.5rem oklch(from var(--accent-color) l c h / 0.2)
      ;
      opacity: 0.2;
    }
  }
}

html:has(.contact:popover-open) {
  .contact-button {
    span {
      transform: translate(0, 2rem) scale(1.2);
      opacity: 0;
    }
  }
}

:where(html:has(.contact:popover-open):has(.contact-button:is(:focus-visible))) {
  .contact {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
    animation: AnimateOutline2 .2s ease;
  }
}
