:where(main) {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  overflow: hidden;

  .intro {
    padding: 1rem var(--padding-x);
    display: grid;
    place-content: center;
    gap: 0.5rem;
    padding-bottom: 2vh;

    & h1 {
      font-size: clamp(2.2rem, min(10.5vw, 10.5vh), 6rem);
      line-height: 1;
    }

    :where(h1, p, ul) {
      position: relative;
      z-index: 1;
    }

    :where(ul) {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      margin-block-start: 0.5rem;
    }
  }
}

:where(header) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-y) var(--padding-x) 0;
}

:where(footer) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: var(--padding-x);
  padding-bottom: var(--padding-y);
}

:where(.sunmoon) {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  -webkit-appearance: none;
  appearance: none;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: -0.25rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: box-shadow 0.3s var(--ease-quart-in), opacity 0.3s var(--ease-quart-in);
    /* transition-delay: 0.6s; */
    box-shadow:
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.6),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.4),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.2)
    ;
  }

  :where(sun-moon) {
    position: relative;
    z-index: 1;
  }
}

:where(body:has(sun-moon[theme=dark])) {
  .sunmoon::before {
    translate: -0.2rem 0.2rem;
  }
}

:where(.icon-button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;

  height: 2.5rem;
  border-radius: 100vh;
  border: 1px solid oklch(from CanvasText l c h / 0.1);

}

:where(.icon-button:has(sun-moon)) {
  position: relative;
  padding-inline: 0.6rem 1rem;

  & .theme-label {
    pointer-events: none;
    min-width: 2.5rem;
  }

  & sun-moon[theme="light"] ~ .theme-label-dark,
  & sun-moon[theme="dark"] ~ .theme-label-light {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 2.5rem;
    aspect-ratio: 1;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: box-shadow 0.3s var(--ease-quart-in), opacity 0.3s var(--ease-quart-in);
    /* transition-delay: 0.6s; */
    box-shadow:
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.6),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.4),
      0 0 0 0 oklch(from var(--accent-color) l c h / 0.2)
    ;
  }
}

:where(a.icon-button) {
  color: LinkText;
  text-decoration: none;
  gap: 0.5rem;
  
  &:is(:hover,:focus-visible) {
    background-color: Canvas;
    background-size: 0 1px;
  }

  &:is(:hover) {
    /* color: LinkText; */
    border: 1px solid LinkText;
  }
}

:where(.contact-button) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2px;
  anchor-name: --contect-popover;

  &::before {
    content: '';
    display: block;
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: linear-gradient(160deg, var(--gray-start), var(--gray-end));
    transition: all .3s var(--ease-sine-out);
  }
  &::after {
    content: '';
    display: block;
    width: 1.5rem;
    aspect-ratio: 2/1;
    border-radius: 50%;
    background-image: linear-gradient(135deg, var(--gray-start), var(--gray-end));
    transition: all .3s var(--ease-out-3);
  }
}

:where(.testimonial-open) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  color: color-mix(in oklab, CanvasText, Canvas 35%);
  /* background-color: ButtonFace; */

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 24px;
    background-color: currentColor;
    background-image: linear-gradient(135deg, var(--gray-start), var(--gray-end));
    clip-path: var(--mark-path);
  }
  &::before {
    transform: translate(-8px, 1px);
  }
  &::after {
    transform: translate(8px, 1px);
  }
}

@media (hover: hover) and (pointer: fine) {
  /* :where(.contact-button) {
    &:is(:hover) {
      outline: 2px solid GrayText;
      outline-offset: 2px;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
      animation: AnimateOutline2 .2s ease;
    }
  } */

  :where(.sunmoon) {
    &:is(:hover)::before {
      transition: box-shadow 0.3s var(--ease-quart-out), opacity 0.3s var(--ease-quart-out);
      transition-delay: 0s;
      box-shadow:
        0 0 0 1.5rem oklch(from var(--accent-color) l c h / 0.6),
        0 0 0 3rem oklch(from var(--accent-color) l c h / 0.4),
        0 0 0 4.5rem oklch(from var(--accent-color) l c h / 0.2)
      ;
      opacity: 0.2;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--accent-color);
      animation: AnimateOutline .2s ease;
    }
  }

  .icon-button {
    &:is(:focus-visible) {
      border-color: var(--accent-color);
      outline: 1px solid var(--accent-color);
      outline-offset: 0px;
    }
  }

  :where(.icon-button:has(sun-moon)) {
    &:is(:hover)::before {
      transition: box-shadow 0.3s var(--ease-quart-out), opacity 0.3s var(--ease-quart-out);
      transition-delay: 0s;
      box-shadow:
        0 0 0 1.5rem oklch(from var(--accent-color) l c h / 0.6),
        0 0 0 3rem oklch(from var(--accent-color) l c h / 0.4),
        0 0 0 4.5rem oklch(from var(--accent-color) l c h / 0.2)
      ;
      opacity: 0.2;
    }
  }
}

html:has(.contact:popover-open) {
  .contact-button {
    &::before {
      transform: translate(0, 6rem) scale(6);
      opacity: 0.5;
    }
    &::after {
      transform: translate(0, 2rem) scale(2,4);
      opacity: 0.5;
    }
  }
}

:where(html:has(.contact:popover-open):has(.contact-button:is(:focus-visible))) {
  .contact {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
    animation: AnimateOutline2 .2s ease;
  }
}
