:where(.message) {
  width: min(95vw, 90vh, 46rem);

  @media (orientation: portrait) {
    max-width: 38rem;
  }

  @media (min-width: 38rem) {
    max-width: 75vw;
  }

  .message-container {
    padding: clamp(2rem, 3vw, 4rem) clamp(1rem, 3vw, 3rem);

    display: grid;
    place-content: center;
    gap: 1.8rem;
  }

  & blockquote {
    all: unset;
    text-align: left;
    color: CanvasText;
    font-size: clamp(1.2rem, max(2.6vw, 2.8vh), 1.8rem);
    padding-inline-start: 0.5em;
    padding-block-start: 2em;
    /* text-wrap: pretty; */

    &::before {
      content: "\201F";
      display: block;
      font-size: 5em;
      font-weight: 400;
      line-height: 0.1;
      color: ActiveText;
      translate: -0.1em;
    }
  }

  .quoter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .avatar {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: clip;
      border: 2px solid GrayText;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-quoter {
      .name {
        font-size: 1rem;
        /* font-weight: 500; */
        color: CanvasText;
        /* color: ActiveText; */
      }
      .position {
        font-size: 1rem;
        color: GrayText;
      }
    }
  }
}