:where(.message) {
  width: min(95vw, 95vh, 44rem);

  @media (orientation: portrait) {
    max-width: 38rem;
  }

  @media (min-width: 38rem) {
    max-width: 75vw;
  }

  .message-container {
    padding: clamp(2rem, 3vw, 4rem) clamp(1rem, 3vw, 3rem);

    display: grid;
    place-content: center;
    gap: 1.8rem;

    background-image: url(/quote-mark.svg);
    background-size: 35%;
    background-position: 105% 0%;
    background-repeat: no-repeat;
  }

  .quotemark {
    font-size: clamp(1.2rem, max(2.6vw, 2.8vh), 1.8rem);
    width: 1.6em;
    color: var(--accent-color);
    margin-bottom: -1rem;
  }

  & blockquote {
    all: unset;
    text-align: left;
    color: CanvasText;
    font-size: clamp(1.2rem, max(2.6vw, 2.8vh), 1.8rem);
    text-wrap: pretty;
  }

  .quoter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .avatar {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: clip;
      /* border: 2px solid var(--border); */

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-quoter {
      .name {
        font-size: 1rem;
        /* font-weight: 500; */
        color: CanvasText;
        /* color: var(--accent-color); */
      }
      .position {
        font-size: 1rem;
        color: color-mix(in oklab, CanvasText, Canvas 35%);
      }
    }
  }
}