:where(.people) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-y) var(--padding-x);
  overflow: hidden;

  .people-center {
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
  }
}

:where(.person) {
  --move: 0%;
  /* todo update start offset 55% and end 95% */
  --distance: calc(51% + ((var(--index) - 1) * 48%) / max(1, (var(--count) - 1)) + var(--move));
  --radius: 50%;
  --size: clamp(3.5rem, 6vw, 4rem);

  pointer-events: auto;
  position: absolute;
  display: grid;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);

  offset-path: circle(clamp(80px, 35vw, 150px) at 50% 50%);
  offset-rotate: 0deg;
  offset-distance: 40%;
  offset-anchor: auto;
  box-shadow: var(--border) 0px 2px 8px 0px;
  /* border: 1px solid Canvas; */

  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: flex;
    pointer-events: none;
    border-radius: var(--radius);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    border-radius: var(--radius);
  }

  &::after {
    content: attr(data-name);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: Canvas;
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: var(--radius);
    background-color: var(--border);
    background-image: url(/quote-mark.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path .3s ease;
  }

  &:is(:hover) {
    scale: 1.1;

    &::before {
      scale: 1.5;
    }
  }
  &:is(:focus-visible) {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
    animation: AnimateOutline4 .2s ease;
  }

  &:hover::before {
    scale: 1.5;
  }

  &:is(:hover,:focus-visible) {
    &::after {
      clip-path: polygon(0 85%, 100% 55%, 100% 100%, 0 100%);
    }
  }
}

.people {
  .people-group:has(.person:is(:hover,:focus-visible)) + .people-group .person {
    --move: 0.5%;
  }

  .people-group:has(+ .people-group .person:is(:hover,:focus-visible)) .person {
    --move: -0.5%;
  }

  .people-group:has(.message:popover-open) {
    .person {
      pointer-events: none;

      &::after {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
      }
    }
  }
}

/* :where(.people:has(:hover)) {
  .person:not(:hover) {
    &::after {
      clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
    }
  }
} */


:where(dialog.testimonials) {
  &[open] {
    .people {
      .person {
        offset-distance: var(--distance);
        transition: all 0.7s var(--ease-spring-2), opacity .2s ease;

        @starting-style {
          offset-distance: 40%;
        }
      }
    }
  }

  &[data-closing] {
    .people {
      .person {
        offset-distance: 40%;
        transition: all .5s var(--ease-in-3);
      }
    }
  }
}
