:where([popover]) {
  padding: 0;
  outline: none;
  border: 2px solid var(--popover-border);
  /* background-color: Canvas; */
  background-image: linear-gradient(to bottom, var(--popover-bg), Canvas);
  background-origin: border-box;
}

:where(.contact) {
  position: absolute;
  margin: 0;
  inset: 0;

  opacity: 0;
  scale: 0;
  translate: 0 -1rem;
  transform-origin: 50% 10%;
  transition: scale .6s var(--ease-spring-2), opacity .2s ease;

  &[data-start="left"] {
    transform-origin: 25% 10%;
  }
  &[data-start="center"] {
    transform-origin: 50% 10%;
  }
  &[data-start="right"] {
    transform-origin: 75% 10%;
  }

  border-radius: 35px;
  @supports(corner-shape: squircle) {
    border-radius: 80px;
    corner-shape: squircle;
  }

  position-anchor: --contect-popover;
  @supports(position-area: span-bottom center) {
    position-area: span-bottom center;
  }

  &:popover-open {
    opacity: 1;
    scale: 1;
    transition:
      opacity 0.5s var(--ease-spring-1),
      scale 0.5s var(--ease-spring-1);

    @starting-style {
      opacity: 0;
      scale: 0;
    }
  }

  @supports(transition-behavior: allow-discrete) {
    transition:
      opacity .2s var(--ease-in-1),
      scale .2s var(--ease-in-1),
      display .2s allow-discrete,
      overlay .2s allow-discrete;
  }
}

:where(.message) {
  --duration: 0.7s;

  position: fixed;
  z-index: 2;
  inset: 0;
  margin: auto;
  padding: 0;

  border-radius: 35px;
  @supports(corner-shape: squircle) {
    border-radius: clamp(60px, 10vw, 100px);
    corner-shape: squircle;
  }

  opacity: 0;
  transform: scale(0.75) translate(0, -50vh);
  will-change: transform;

  &:popover-open {
    opacity: 1;

    transform: scale(1) translate(0, -12vh);
    transition:
      opacity var(--duration) var(--ease-spring-2),
      transform var(--duration) var(--ease-spring-2);

    @starting-style {
      opacity: 0;
      transform: scale(0.75) translate(0, 10vh);
    }
  }

  @supports (animation-name: test-starting-style) {
    transition:
      opacity .2s ease,
      transform .2s ease,
      display .2s allow-discrete,
      overlay .2s allow-discrete;
  }
}