
:root {
  --padding-y: clamp(2rem, max(4vw, 4vh), 2.5rem);
  --padding-x: clamp(1rem, 2vw, 2rem);

  --accent-color: light-dark(hotpink, skyblue);
  --sunmoon-pos: calc(var(--padding-y) + 1rem);
  --popover-bg: light-dark(
    oklch(from Highlight 0.78 c h / 1),
    oklch(from Highlight 0.34 c h / 1)
  );
}

:where(html, body) {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:where(h1,h2,h3,h4,h5,button,ul,ol,li,input,p) {
  all: unset;
}
:where(button) {
  cursor: pointer;
}
:where(h1,h2,h3,h4,h5,p) {
  display: block;
}

:where(.circle-button) {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

:where(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

:where(.hidden) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

:where(body) {
  &[theme=light] {
    background-color: white;
  }
  &[theme=dark] {
    background-color: black;
  }
}

:where(sun-moon) {
  filter: drop-shadow(0 0 0.75rem hotpink);

  &[theme=dark] {
    filter: drop-shadow(0 0 0.75rem skyblue);
  }
}

:where(body[togelling]) {
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: Canvas;
    /* clip-path: circle(0% at calc(100% - var(--sunmoon-pos)) var(--sunmoon-pos)); */
    clip-path: circle(5% at 50% 33%);
    animation: theme-changing 0.5s var(--ease-sine-in);
  }
}

@media (hover: hover) and (pointer: fine) {
  :where(.circle-button) {
    &:is(:hover) {
      outline: 2px solid GrayText;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--accent-color);
      animation: AnimateOutline .2s ease;
    }
  }
}

@keyframes theme-changing {
  to {
    /* clip-path: circle(150% at calc(100% - var(--sunmoon-pos)) var(--sunmoon-pos)); */
    clip-path: circle(100% at 50% 33%);
  }
}
