
:where(html, body) {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:where(h1,h2,h3,h4,h5,button,ul,ol,li,input,p) {
  all: unset;
}
:where(button) {
  cursor: pointer;
}
:where(h1,h2,h3,h4,h5,p) {
  display: block;
}

:where(.circle-button) {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;

  &:is(:focus-visible) {
    outline: 2px solid ActiveText;
    animation: AnimateOutline .2s ease;
  }
}

:where(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@keyframes AnimateOutline {
  from { outline-offset: -4px; }
  to { outline-offset: 0; }
}

@keyframes AnimateOutline4 {
  from { outline-offset: -2px; }
  to { outline-offset: 4px; }
}
